# Build outputs (Maven)
target/

# Build outputs (Gradle)
.gradle/
build/

# IDEs & Editores
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
bin/
out/

# Logs e arquivos temporários
*.log
.DS_Store